:root{
    --prymaryColor:black;
    --secondaryColor:#bd09a8;
    --fontSize:2rem;
    --font-family: 'Ubuntu',sans-serif;
}
body{
    background-color:var(--secondaryColor);
    height:100vh;

}
.hyper{
    font-family:var(--font-family);
    font-size: var(--fontSize);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: var(--prymaryColor);
     margin-top: 25%;
}
.imgView{
    object-fit:fill;
    height: 15rem;
    width: 15rem;
    
    border-radius: 10px ;
}